#contact_modal {
    display: none;
    position: relative;
}

.photograph-header {
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 50px;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
}

.photographerInfo h1 {
    color: #d3573c;
    font-size: 65px;
    font-weight: normal;
    margin-bottom: 0px;
}

.photographerInfo h2 {
    margin-top: 0px;
    font-size: 24px;
    font-weight: normal;
    color: #901c1c;
}

.photographerInfo p {
    font-size: 18px;
}

.imgIDphotographersPage {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.mediaSection {
    padding-bottom: 25px;
}

.mediaSection article {
    width: 100%; /**/
    position: relative;
}

.mediaSection article .titleMedia {
    color: #901c1c;
    font-size: 26px;
    margin-bottom: 0px;
    /*display: flex;
    justify-content: space-between;*/
    position: relative;
    width: 96%;
}

.mediaSection article .nbLikes {
    color: #901c1c;
    font-size: 26px;
    position: absolute;
    right: 40px;
    bottom: -22.5px;
}

.mediaSection article .titleMedia .buttonVoid2,
.mediaSection article .titleMedia .buttonVoid {
    cursor: pointer; /*pointeur*/
    position: absolute;
    right: 0px;
    bottom: 2.5px;
}

.buttonVoid2 .fa-heart,
.buttonVoid .fa-heart-o {
    color: #901c1c;
    font-size: 26px;
}

.mediaSection .buttonVoid2 {
    display: none;
}

.mediaSection article div {
    width: 96%;
}

.mediaSection article div a .imgArticle {
    height: 300px;
    width: 100%; /*largeur*/
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer; /*pointeur*/
}

.mediaSection article div a .videoArticle {
    height: 300px;
    width: 100%; /*largeur*/
    cursor: pointer; /*pointeur*/
    border-radius: 10px;
    object-fit: cover;
}

.buttonVoid,
.buttonVoid2 {
    background-color: transparent;
    border: none;
}

.modalis {
    z-index: 5;
    color: #901c1c;
    font-size: 100px; /*taille des flèches*/
    display: none;
    /*overflow-y: hidden;*/
    position: fixed;
    top: 0px;
    padding-top: 160px;
    padding-bottom: 160px;
    height: 1080px;
    width: 100%;
    background-color: white;
}

.modalis .fa,
.modalis .svgModalis {
    cursor: pointer;
    opacity: 0.7;
}

.modalis .fa:hover,
.modalis .svgModalis:hover {
    opacity: 1;
}

.modalis .svgModalis {
    position: absolute;
    top: 170px;
    right: 100px;
}

.modalis a .fa-angle-right {
    color: #901c1c;
    position: absolute;
    right: 100px;
    top: 45%;
}

.modalis a .fa-angle-left {
    color: #901c1c;
    position: absolute;
    left: 100px;
    top: 45%;
}

.modalis .image,
.modalis .video {
    position: absolute;
    width: 78%;
    height: 1026px;
    left: 275px;
    object-fit: contain;
}

.modalis p {
    position: absolute;
    left: 275px;
    bottom: 140px;
    font-size: 30px;
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    position: fixed;
    top: 14%;
    left: 23%;
    /*margin: auto;*/
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.sort {
    width: 95%;
    padding-left: 100px;
    margin-bottom: 180px;
    margin-top: 16px;
    display: flex;
}

.sort label {
    padding-right: 26px;
    font-size: 25px;
    font-weight: bold;
}

.sort .select {
    width: 110px;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.sort .select,
.sort .select div {
    font-size: 20px;
    font-weight: bold;
    background-color: #901c1c;
    color: white;
}

/*.sort .select .title,
.sort .select .popularity {
    border: none;
}*/

.sort .select div {
    cursor: pointer; /*pointeur*/
    width: 100%;
    text-align: left;
}

.sort .fa-angle-up {
    /*Flèche du tri*/
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 22.5px;
    font-weight: bold;
    animation-duration: 1s;
    animation-name: rotationAngleInvert;
    transform: rotate(0deg);
}

.sort .fa-angle-up:active {
    /*survol de l'angle*/
    animation-duration: 1s;
    animation-name: rotationAngle;
    transform: rotate(180deg);
}

@keyframes rotationAngle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotationAngleInvert {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.date {
    /*bordure dessus et dessou le mot*/
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-right: none;
    border-left: none;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modalForm {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312e2e;
    font-size: 36px;
}

.modalForm div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.error {
    font-size: 0.8em;
    color: #901c1c;
    font-weight: bold;
    display: none;
}

.LikesPrice {
    position: fixed;
    background-color: #db8876;
    display: flex;
    justify-content: space-around;
    width: 440px;
    bottom: 0px;
    right: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.LikesPrice h2 {
    color: black;
}

.LikesPrice .fa-heart {
    position: absolute;
    font-size: 25px;
    top: 21.5px;
    left: 120px;
}

.hidden {
    display: none;
}

.selectValue {
    width: 100px;
    color: white;
    background-color: #901c1c;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
}

.selectValue .fa-angle-up {
    animation-duration: 1s;
    animation-name: rotationAngle;
    transform: rotate(180deg);
    position: absolute;
    right: 5px;
    top: 22.5px;
}
